h1,h2,h3,h4,h5,h6,p,ul {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
   padding: 0 1rem;
   /* background-color: red; */
}

.title {
    padding: 1rem 1rem;
}

.description {
    padding: 0.5rem 1rem;   
}
