* {
  box-sizing: border-box;
}

.title {
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 400px;
  height: 600px;
  float: left;
  overflow: auto;
  margin: 10px 20px;
}

.master {
  /* display: flex; */
  /* align-content: flex-start; */
}

ul {
  list-style: none;
  padding: 10px 0;
  width: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

li {
  margin: 10px 0 0 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
  width: 100%;
}

li:hover {
  background-color: rgba(0, 0, 0, .1);
}